@use "../utils" as *;
footer.footer {
  position: relative;
  z-index: 999;
  width: 100%;
  padding: 4rem 2.5rem;
  margin-top: 10rem;
  font-family: "mono", monospace;
  mix-blend-mode: difference;
  color: $primary;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  .footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 6rem;

    @include media("<tablet") {
      flex-direction: column;
      gap: 4rem;
    }
  }

  ul.footer__col {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0.8;
    font-size: 1.6rem;

    a {
      color: $primary;
      text-decoration: none;
    }
  }
}
