@use "../utils" as *;
footer.footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: $primary;

  .footer__wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 30rem 5rem 5rem 5rem;

    @include media("<tablet") {
      flex-direction: column;
      gap: 4rem;
    }
  }

  h2 {
    transform: scaleY(2.5);
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    font-size: 25rem;
    width: max-content;
    transform-origin: left;
  }

  ul.footer__col {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    opacity: 0.8;
    font-size: 2rem;
    font-family: "IBMVGA";
    li.selected {
      // color: white;
      // background-color: $primary;
      border-right: 2px solid $primary;
      animation: blink 1s step-end infinite;
    }
  }
}
