@use "../utils/" as *;

nav.nav__wrapper {
  transform: scaleX(2);
  max-width: 47.4vw;
  transform-origin: left;
  position: sticky;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  font-family: "large";
  font-size: 2rem;
  @include media("<tablet") {
    padding: 20px;
    font-size: 5rem;
  }
}
nav.nav__wrapper.active {
  display: flex;
}
a.nav__logo {
  text-transform: uppercase;
  font-weight: 700;

  @include media("<tablet") {
    font-size: 8rem;
  }
}
.nav__wrapper a {
  color: $primary;
  mix-blend-mode: difference;
  text-decoration: none;
  position: relative;

  &:hover::before {
    content: ">";
    position: absolute;
    left: -15px;
  }
}
.nav__tabs {
  display: flex;
  gap: 20rem;
  @include media("<tablet") {
    gap: 10rem;
  }
}
.nav__tab {
}
