@use "../utils/" as *;

nav.nav__wrapper {
  position: sticky;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  font-size: 2.5rem;
  @include media("<tablet") {
    padding: 20px;
    font-size: 7rem;
  }
}
nav.nav__wrapper.active {
  display: flex;
}
a.nav__logo {
  text-transform: uppercase;
  @include media("<tablet") {
    font-size: 8rem;
  }
}
.nav__wrapper a {
  color: white;
  mix-blend-mode: difference;
  text-decoration: none;
}
.nav__tabs {
  display: flex;
  gap: 40rem;
  @include media("<tablet") {
    gap: 20rem;
  }
}
.nav__tab {
}
