@use "../utils/" as *;
/* Firefox */
* {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}
