footer.footer
    h2 CTRL//CTRL//

    .footer__wrapper


        ul.footer__col
            li footer.version: v1.0.0
            li footer.build: stable
            li footer.env: production

        ul.footer__col
            li 2026//Martin CTRL

        ul.footer__col
            li.selected contact: hello@martinctrl.com
            li [FR]France
            li [OM]Marseille
