footer.footer
    .footer__inner
        ul.footer__col
            li footer.version: v1.0.3
            li footer.build: stable
            li footer.env: production

        ul.footer__col
            li(data-info="year-label")
            li(data-info="timestamp-live")
            li uptime:data

        ul.footer__col
            li 43°17'60" N
            li 5°24'0" E
            li sys.link: 
                a(href="mailto:hello@ctrl.dev") hello@ctrl.dev
