.text__col 
    pre.selected [Core]building
    pre Render Loop
    pre  Pa  ttern
    pre Assembly Trace
    pre.selected      Output Matrix
.text__col 
    pre     BN-fragment:02
    pre XR//echo-plane
    pre  cluster—ion
    pre.selected velocity\break
    pre     temporal:noise
    pre.cursor holographicResidue
    pre delta––carrier
.text__col 
    pre.cursor Threaded SSignal
    pre v2.3 Workshop