.text__col
    pre.selected init   daemon
    pre sys.err
    pre mount∅echo
    pre.cursor dev/null/orison
    pre boot∷spectre
.text__col
    pre kernel\\wraith
    pre.cursor ./invoke.sh         quantum.cr0n
    pre socket://oracle  shard.exec
