@use "../shared" as *;
@use "../utils" as *;
.home {
  @extend %page;
  overflow-x: hidden;
  // position: relative;
}

.home__wrapper {
  @extend %texture-bg;
  @extend %text-18;
  min-height: 100%;
}
.home__hero__wrapper {
  position: relative;
  height: 100dvh;
  width: 100vw;
}
.home__background__text__wrapper {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100dvh;
  font-family: "IBMVGA";
  font-size: 1.6rem;
}

.text__col {
  position: absolute;
  font-size: 16px;
  pre.selected,
  pre:hover {
    color: white;
    background-color: black;
    width: fit-content;
  }

  pre.cursor {
    border-right: 2px solid black;
    animation: blink 1s step-end infinite;
    width: fit-content;
  }

  &:nth-child(2) {
    left: 20%;
    top: 30%;
  }
  &:nth-child(3) {
    left: 40%;
    top: 10%;
  }
  &:nth-child(4) {
    left: 45%;
    top: 15%;
  }
  &:nth-child(5) {
    left: 60%;
    top: 0%;
  }
  &:nth-child(6) {
    left: 75%;
    transform: rotateX("90deg");
  }
  &:nth-child(7) {
    left: 75%;
    bottom: 0%;
    transform: rotateX("90deg");
  }
  &:nth-child(8) {
    right: 0;
    top: 18%;
  }
}
@keyframes blink {
  0%,
  50% {
    border-color: black;
  }
  51%,
  100% {
    border-color: transparent;
  }
}

.home__background__img {
  height: 100dvh;
  width: 100%;
}

.home__title__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  // text-transform: uppercase;
}
h1.home__title {
  font-family: "large";
  font-weight: 700;
  color: $primary;
  font-size: 20rem;
  letter-spacing: 0px;
}
.home__baseline {
  position: absolute;
  color: $primary;
  top: -20px;
  @extend %text-18;
  letter-spacing: 6rem;
  font-family: "large";
}
.home p {
  @extend %text-16;
}

.home__main__wrapper {
}
h2.home__main__title {
}
.home__works__wrapper {
}
a.home__work__link {
}
.home__work__card {
}
img.home__work__img {
  width: 50%;
}
.home__work__info {
}
h3.home__work__title {
}
div.home__work__tags {
}
span.home__work__tag {
}
