@use "../shared" as *;
@use "../utils" as *;
.home {
  @extend %page;
  overflow-x: hidden;
  // position: relative;
}

.home__wrapper {
  @extend %texture-bg;
  @extend %text-18;
  min-height: 100%;
}
.home__hero__wrapper {
  position: relative;
  height: 100dvh;
  width: 100vw;
}
.home__background__img {
  height: 100dvh;
  width: 100%;
}

.home__title__wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  // text-transform: uppercase;
}
h1.home__title {
  font-family: "large";
  // font-weight: 700;
  // color: rgb(0 63 255);
  color: rgb(49 69 130);
  font-size: 20rem;
  letter-spacing: 0px;
}
.home__baseline {
  position: absolute;
  top: -20px;
  @extend %text-18;
  color: white;
  letter-spacing: 6rem;
  font-family: "large";
}
.home p {
  @extend %text-16;
}

.home__main__wrapper {
}
h2.home__main__title {
}
.home__works__wrapper {
}
a.home__work__link {
}
.home__work__card {
}
img.home__work__img {
  width: 50%;
}
.home__work__info {
}
h3.home__work__title {
}
div.home__work__tags {
}
span.home__work__tag {
}
