@use "../shared" as *;
@use "../utils" as *;
.home {
  @extend %page;
  overflow-x: hidden;
  // position: relative;
}

.home__wrapper {
  @extend %texture-bg;
  @extend %text-18;
  min-height: 100%;
}

.home__liquid__background__wrapper {
  position: relative;
  z-index: 1;
}

.home__hero__wrapper {
  position: relative;
  height: 100dvh;
  width: 100vw;
  margin-bottom: 25rem;
}
.home__background__text__wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100dvh;
  font-family: "IBMVGA";
  font-size: 1.6rem;
}

.text__col {
  position: absolute;
  font-size: 16px;
  pre.selected,
  pre:hover {
    color: white;
    background-color: black;
    width: fit-content;
  }

  pre.cursor {
    border-right: 2px solid black;
    animation: blink 1s step-end infinite;
    width: fit-content;
  }

  &:nth-child(2) {
    left: 20%;
    top: 30%;
  }
  &:nth-child(3) {
    left: 40%;
    top: 10%;
  }
  &:nth-child(4) {
    left: 45%;
    top: 15%;
  }
  &:nth-child(5) {
    left: 60%;
    top: 0%;
  }
  &:nth-child(6) {
    left: 75%;
    transform: rotateX("90deg");
  }
  &:nth-child(7) {
    left: 75%;
    bottom: 0%;
    transform: rotateX("90deg");
  }
  &:nth-child(8) {
    right: 0;
    top: 18%;
  }
}
@keyframes blink {
  0%,
  50% {
    border-color: black;
  }
  51%,
  100% {
    border-color: transparent;
  }
}

.home__background__img {
  height: 100dvh;
  width: 100%;
}

.home__title__wrapper {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

h1.home__title {
  font-family: "large";
  font-weight: 700;
  color: $primary;
  font-size: 20rem;
  letter-spacing: 0px;
}
.home__baseline {
  position: absolute;
  color: $primary;
  bottom: -20px;
  left: 20rem;
  @extend %text-50;
  // letter-spacing: 6rem;
  font-family: "large";
}
.home p {
  @extend %text-50;
}
.home__about {
  margin-bottom: 25rem;
}
.home__about__text {
  text-indent: 10rem;
  margin: 0 10rem;
}

h2.home__works__title {
  text-align: center;
  margin-bottom: 10rem;
}

.home__works__wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 1fr;
  // position: relative;
  border: blue 1px solid;
}
.works__completion {
  width: 100%;
  height: 20px;
  border: 1px white solid;
  background-color: black;
}
.works__completion__inner {
  height: 18px;
  background-color: white;
}
img.work__img {
  width: 100%;
}
.works__overlay {
  padding: 10px;
  color: white !important;
  font-size: 2.2rem;
  font-family: "IBMVGA";
  text-decoration: none;
  background-color: black;
}
.work__title {
}
.work__tags {
}
a.work__link {
}
.work__navigation {
}
.prev {
}
.next {
}
