@use "../shared" as *;
@use "../utils" as *;
.home {
  @extend %page;
  overflow-x: hidden;
  // position: relative;
}

.home__wrapper {
  @extend %texture-bg;
  @extend %text-18;
  min-height: 100%;
}

.home__liquid__background__wrapper {
  position: relative;
  z-index: 1;
}

.home__hero__wrapper {
  position: relative;
  height: 100dvh;
  width: 100vw;
  margin-bottom: 25rem;
}

.home__background__img {
  height: 100dvh;
  width: 100%;
}

.home__title__wrapper {
  position: absolute;
  width: 100%;
  top: 40%;
}

h1.home__title {
  font-family: "large";
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 15rem;
  color: $primary;
  transform: scaleX(2.8);
  transform-origin: left;
  width: min-content;
  max-width: 100vw;
  padding-left: 5px;
}
.home__baseline {
  position: absolute;
  color: $primary;
  left: 20rem;
  font-size: 10rem;
  font-family: "large";
  transform: scaleX(0.4);
  transform-origin: left;
}

.home__hero__info {
  position: absolute;
  font-family: "IBMVGA";
  // font-size: 8rem;
  left: 50px;
  bottom: 50px;
}

.home p {
  @extend %text-50;
}
.home__about {
  margin-bottom: 25rem;
}
.home__about__text {
  text-indent: 10rem;
  margin: 0 10rem;
}

.home__works {
  margin-bottom: 25rem;
}
.home__works__title__wrapper {
  position: relative;
}
h2.home__works__title {
  text-align: center;
  margin-bottom: 10rem;
  position: relative;
}

.home__works__wrapper {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.works__completion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  // border: 1px white solid;
  background-color: $primary;
}
.works__completion__inner {
  height: 4px;
  background-color: white;
}
img.work__img {
  width: 100%;
  transition: filter 0.3s ease;
}
.works__overlay {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  height: 100%;
  padding: 10px;
  font-size: 2.2rem;
  font-family: "IBMVGA";
  text-decoration: none;
}
.work__title {
  font-size: 5rem;
}
.work__tags {
  display: block;
}
a.work__url {
  text-decoration: none;
  color: $primary;
  position: absolute;
  bottom: 20px;
}

a.work__link {
  position: relative;
  display: block;
}

.work__link__label {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-size: 3rem;
  color: white;
  font-family: "IBMVGA";
}

.home__experiments__wrapper {
  background-color: $primary;
  color: white;
  padding: 10rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr;
}
.home__experiments__title__wrapper {
  position: relative;
}
h2.home__experiments__title {
  transform-origin: left;
}
p.home__experiments__paragraph {
  font-size: 2rem;
}
.home__experiments__list {
  margin-top: 4rem;
}
.home__experiment {
  display: block;
  padding-top: 5rem;
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  position: relative;
}
.experiment__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.experiment__img {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  pointer-events: none;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  z-index: 5;
}

.experiment__tags {
  font-size: 1.8rem;
  font-style: italic;
}
.experiment__hr {
  margin-top: 1rem;
  width: 100%;
  height: 1px;
  background-color: white;
}
