---
    permalink: /
    template: "home"
    title: "Accueil | CTRL"
    
---
extends ./_layouts/layout.pug
block content
    .home
        .home__wrapper 
            .home__liquid__background__wrapper
                .home__hero__wrapper
                    include ./_includes/text-column-hero.pug
                    .home__title__wrapper
                        h1.home__title Martin Cottrelle
                        .home__baseline ↓ creative developer
                    .home__hero__info 
                            ul.hero-info-list
                                li sys.birth:2025
                                li(data-info="timestamp")
                                li(data-info="date")
                                li X:43° 17' 60" Y: 5° 24' 0"
                        

                .home__about 
                    p.home__about__text
                        | Curiosity and a thirst to learn are at the core of who I am. Code becomes a way to explore ideas rather than just build interfaces. Creativity in all its forms
                        span.italic — painting, design, architecture, music, and more —
                        |  nourishes me, even goes beyond the scope of my own practice. Learning from many fields feeds my process and fuels my desire to experiment. Technology becomes a medium to experiment and see what emerges from ideas. This journey is ongoing, always evolving, always reaching for new ways to bring creativity and code together.
                .home__works 
                    .home__works__title__wrapper
                        include ./_includes/text-column-works.pug
                        h2.home__works__title Works
                    .home__works__wrapper
                        .works__row
                            .work__link
                                .work__link__label (View project)
                                img.work__img
                            .works__overlay
                                .work__title
                                .work__date
                                .work__tags
                                a.work__url(href="", target="_blank") visit live&#8599;
                        .works__completion
                            .works__completion__inner
                                               
                .home__experiments__wrapper
                    .home__experiments__info
                        .home__experiments__title__wrapper
                            include ./_includes/text-column-lab.pug
                            h2.home__experiments__title Lab
                        p.home__experiments__paragraph Some of my personal experiments and explorations with code. Each one has been a way to learn new techniques and to extend my knowledge.

                    .home__experiments__list
                        each experiment in prismic.experiments
                            a(href=experiment.data.link.url, target="_blank").home__experiment
                                .experiment__content
                                    img(src=experiment.data.img.url).experiment__img
                                    h3.experiment__title= experiment.data.title[0].text
                                    .experiment__tags= experiment.data.tags.map(t => t.tag).join(", ")
                                    .experiment__arrow &#8599;
                                .experiment__hr
                                