---
    permalink: /
    template: "home"
    title: "Accueil | Boilerfolio"
    
---
extends ./_layouts/layout.pug
block content
    .home
        .home__wrapper 
            .home__hero__wrapper
                img(src="img/watercolor3.webp").home__background__img
                .home__title__wrapper
                    h1.home__title Martin Cottrelle
                    .home__baseline creative developer