---
    permalink: "/works/work/"
    template: "work"
    title: "Work | Martin Cottrelle"
    
---
extends ./_layouts/layout.pug
block content
    .work
        .work__wrapper 
            h1.work__title Work
