---
    permalink: /works/
    template: "works"
    title: "Works | Martin Cottrelle"
    
---
extends ./_layouts/layout.pug
block content
    .works
        .works__wrapper 
            h1.works__title Works
