@use "../utils" as *;

html {
  @extend %cover;
  font-size: calc(100vw / 1920 * 10);
  touch-action: manipulation;

  @include media("<phone") {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  font-family: "robotoMono";
  overflow: hidden;
  cursor: crosshair;
}
.content {
  @extend %cover;
}
//lenis
html.lenis,
html.lenis body {
  height: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: clip;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}
