//IBM
@font-face {
  font-family: "IBMVGA";
  src: url("../fonts/WebPlus_IBM_VGA_9x16.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

//Large
@font-face {
  font-family: "large";
  src: url("../fonts/Large-Roman.woff2") format("woff2");
  src: url("../fonts/Large-Roman.woff2") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "large";
  src: url("../fonts/Large-Italic.woff2") format("woff2");
  src: url("../fonts/Large-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
