// //Roboto
// @font-face {
//   font-family: "robotoMono";
//   src: url("../fonts/RobotoMono-Bold.woff2") format("woff2");
//   src: url("../fonts/RobotoMono-Bold.woff") format("woff");
//   font-weight: 700;
//   font-display: swap;
//   font-style: normal;
// }
// @font-face {
//   font-family: "robotoMono";
//   src: url("../fonts/RobotoMono-Medium.woff2") format("woff2");
//   src: url("../fonts/RobotoMono-Medium.woff") format("woff");
//   font-weight: 600;
//   font-display: swap;
//   font-style: normal;
// }
// @font-face {
//   font-family: "robotoMono";
//   src: url("../fonts/RobotoMono-Regular.woff2") format("woff2");
//   src: url("../fonts/RobotoMono-Regular.woff") format("woff");
//   font-weight: 400;
//   font-display: swap;
//   font-style: normal;
// }
// @font-face {
//   font-family: "robotoMono";
//   src: url("../fonts/RobotoMono-Light.woff2") format("woff2");
//   src: url("../fonts/RobotoMono-Light.woff") format("woff");
//   font-weight: 200;
//   font-display: swap;
//   font-style: normal;
// }
